# Recommender System (suggest best-fit blogs that can help user)

Instead of storing the ratings from users, we want to measure how each user care about a blog by calculating the time user spend on a specific blog (backend processing with flask datetime.utcnow()).

For example: If a user spend many time reading a blog about "How to overcome depression", we will suggest they should also read blogs "How to overcome loneliness" because other users reading the blog about depression also read blogs about loneliness (Perhaps, depression usually links with loneliness). We can find the relatioship by using neighbourhood user-user collaborative filtering

## Update user (column) and blog (row) for utility matrix

This is how the website backend updates the `utility_matrixx.csv`file from which we will perform operations to yield the best-fit suggestion for users

In [21]:
import pandas as pd
import numpy as np

In [22]:
df = np.random.randint(low=1, high=11, size=(3,3))
df = pd.DataFrame(df)
df.to_csv("utility_matrix.csv", index=False)

In [23]:
num_cols = len(df.columns)
num_rows = len(df.index)
num_cols, num_rows

(3, 3)

In [ ]:
csv_path = '/content/utility_matrix.csv'
df2 = pd.read_csv(csv_path)

In [ ]:
num_users = 4
num_blogs = 4

num_cols = len(df2.columns)
num_rows = len(df2.index)

if num_users > num_cols:
        temp_col = [0] * num_rows
        temp_col = pd.DataFrame(temp_col)
        df2 = pd.concat([df2, temp_col], axis=1)
        df2 = df2.to_numpy()
        df2 = pd.DataFrame(df2)
        df2.to_csv(csv_path, index=False)

if num_blogs > num_rows:
        temp_col = [0] * num_cols
        temp_col = pd.DataFrame(temp_col)
        df2 = pd.concat([df2.T, temp_col], axis=1)
        df2 = df2.T.to_numpy()
        df2 = pd.DataFrame(df2)
        df2.to_csv(csv_path, index=False)

## Neighborhood-Based Collaborative Filtering

<br>
<center><img src=https://machinelearningcoban.com/assets/24_collaborativefiltering/user_cf.png></center>

In [45]:
import pandas as pd
import numpy as np

In [46]:
# import the utility matrix from (data retrieved from website)
# my website will update this utility matrix whenever user register account, create new blog, and read the blog
utility_matrix = pd.read_csv("/content/utility_matrix.csv")
df = utility_matrix

Or you can run this code to make a simulation of data:



```python
np.random.seed(42)

# in my current website, the num_users is 19 and num_blogs is 29.
df = np.random.randint(low=1, high=900, size=(29,19))
df = pd.DataFrame(df)

mask = np.random.choice([0, 1], size=df.shape, p=[0.3, 0.7])
df_with_zeros = df * mask
df_with_zeros
```

In [47]:
utility_matrix

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18
0,103,436,861,271,0,0,0,21,615,122,0,215,331,459,88,373,0,872,664
1,0,0,0,0,344,492,414,0,386,192,0,161,460,314,22,0,748,857,561
2,475,59,0,0,476,0,783,190,687,563,876,567,244,832,505,131,485,0,0
3,0,0,0,274,0,601,316,0,242,0,0,565,898,340,92,367,0,0,509
4,776,35,206,81,562,872,388,2,390,566,106,0,822,477,703,402,730,556,0
5,202,0,863,816,271,456,462,727,0,702,296,725,720,749,0,879,0,792,217
6,764,188,0,0,41,157,0,0,65,0,839,521,0,0,648,472,63,139,499
7,593,392,675,0,289,379,773,490,0,41,0,135,0,0,0,33,48,503,407
8,574,0,805,0,684,0,726,0,739,613,462,0,769,5,218,503,767,398,871
9,795,393,0,0,858,554,892,461,0,0,864,743,241,0,96,734,485,407,231
10,749,655,0,541,36,525,160,839,699,243,86,0,0,682,557,574,0,796,28
11,620,556,340,798,331,0,0,348,473,231,190,225,385,377,283,0,628,0,259
12,359,0,456,411,649,0,677,225,819,234,684,664,827,374,672,0,0,233,692
13,113,0,0,0,564,268,510,807,386,387,113,613,625,81,699,113,0,642,220
14,0,855,736,225,385,403,0,0,0,0,0,0,710,0,247,836,439,203,0
15,0,0,0,0,0,0,0,610,0,511,752,144,0,201,124,0,326,464,0
16,0,660,764,0,0,511,147,148,864,711,820,0,0,551,338,872,641,0,473
17,151,0,0,611,0,764,0,346,0,572,881,2,897,304,0,652,453,37,160
18,0,0,99,659,816,208,131,404,0,0,0,0,0,0,0,0,422,0,852
19,254,227,0,510,473,99,153,0,0,878,338,706,822,0,720,0,161,580,801
20,0,0,816,0,896,0,135,195,0,640,0,0,460,883,470,0,22,750,670
21,38,230,365,563,438,776,0,27,226,0,0,609,284,879,0,453,0,0,0
22,516,547,192,49,512,17,172,220,158,477,46,373,518,0,892,745,37,280,349
23,0,302,181,607,0,700,116,191,253,161,0,323,0,18,0,735,566,570,323
24,872,0,792,0,288,854,0,0,155,490,386,785,104,0,811,0,176,39,477
25,682,759,0,867,818,408,0,828,506,825,36,685,20,0,776,512,400,654,883
26,471,143,0,354,834,0,727,854,51,665,698,0,190,125,0,314,570,342,305
27,692,682,838,783,0,444,0,0,53,572,620,5,103,196,0,877,0,350,0
28,867,0,820,656,269,0,636,0,670,0,0,0,831,787,0,58,346,741,474

In [48]:
# replace any 0 value to NaN values (which are ? in the table)
utility_matrix.replace(0, np.nan, inplace=True)
utility_matrix

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18
0,103.0,436.0,861.0,271.0,NaN,NaN,NaN,21.0,615.0,122.0,NaN,215.0,331.0,459.0,88.0,373.0,NaN,872.0,664.0
1,NaN,NaN,NaN,NaN,344.0,492.0,414.0,NaN,386.0,192.0,NaN,161.0,460.0,314.0,22.0,NaN,748.0,857.0,561.0
2,475.0,59.0,NaN,NaN,476.0,NaN,783.0,190.0,687.0,563.0,876.0,567.0,244.0,832.0,505.0,131.0,485.0,NaN,NaN
3,NaN,NaN,NaN,274.0,NaN,601.0,316.0,NaN,242.0,NaN,NaN,565.0,898.0,340.0,92.0,367.0,NaN,NaN,509.0
4,776.0,35.0,206.0,81.0,562.0,872.0,388.0,2.0,390.0,566.0,106.0,NaN,822.0,477.0,703.0,402.0,730.0,556.0,NaN
5,202.0,NaN,863.0,816.0,271.0,456.0,462.0,727.0,NaN,702.0,296.0,725.0,720.0,749.0,NaN,879.0,NaN,792.0,217.0
6,764.0,188.0,NaN,NaN,41.0,157.0,NaN,NaN,65.0,NaN,839.0,521.0,NaN,NaN,648.0,472.0,63.0,139.0,499.0
7,593.0,392.0,675.0,NaN,289.0,379.0,773.0,490.0,NaN,41.0,NaN,135.0,NaN,NaN,NaN,33.0,48.0,503.0,407.0
8,574.0,NaN,805.0,NaN,684.0,NaN,726.0,NaN,739.0,613.0,462.0,NaN,769.0,5.0,218.0,503.0,767.0,398.0,871.0
9,795.0,393.0,NaN,NaN,858.0,554.0,892.0,461.0,NaN,NaN,864.0,743.0,241.0,NaN,96.0,734.0,485.0,407.0,231.0
10,749.0,655.0,NaN,541.0,36.0,525.0,160.0,839.0,699.0,243.0,86.0,NaN,NaN,682.0,557.0,574.0,NaN,796.0,28.0
11,620.0,556.0,340.0,798.0,331.0,NaN,NaN,348.0,473.0,231.0,190.0,225.0,385.0,377.0,283.0,NaN,628.0,NaN,259.0
12,359.0,NaN,456.0,411.0,649.0,NaN,677.0,225.0,819.0,234.0,684.0,664.0,827.0,374.0,672.0,NaN,NaN,233.0,692.0
13,113.0,NaN,NaN,NaN,564.0,268.0,510.0,807.0,386.0,387.0,113.0,613.0,625.0,81.0,699.0,113.0,NaN,642.0,220.0
14,NaN,855.0,736.0,225.0,385.0,403.0,NaN,NaN,NaN,NaN,NaN,NaN,710.0,NaN,247.0,836.0,439.0,203.0,NaN
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,610.0,NaN,511.0,752.0,144.0,NaN,201.0,124.0,NaN,326.0,464.0,NaN
16,NaN,660.0,764.0,NaN,NaN,511.0,147.0,148.0,864.0,711.0,820.0,NaN,NaN,551.0,338.0,872.0,641.0,NaN,473.0
17,151.0,NaN,NaN,611.0,NaN,764.0,NaN,346.0,NaN,572.0,881.0,2.0,897.0,304.0,NaN,652.0,453.0,37.0,160.0
18,NaN,NaN,99.0,659.0,816.0,208.0,131.0,404.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,422.0,NaN,852.0
19,254.0,227.0,NaN,510.0,473.0,99.0,153.0,NaN,NaN,878.0,338.0,706.0,822.0,NaN,720.0,NaN,161.0,580.0,801.0
20,NaN,NaN,816.0,NaN,896.0,NaN,135.0,195.0,NaN,640.0,NaN,NaN,460.0,883.0,470.0,NaN,22.0,750.0,670.0
21,38.0,230.0,365.0,563.0,438.0,776.0,NaN,27.0,226.0,NaN,NaN,609.0,284.0,879.0,NaN,453.0,NaN,NaN,NaN
22,516.0,547.0,192.0,49.0,512.0,17.0,172.0,220.0,158.0,477.0,46.0,373.0,518.0,NaN,892.0,745.0,37.0,280.0,349.0
23,NaN,302.0,181.0,607.0,NaN,700.0,116.0,191.0,253.0,161.0,NaN,323.0,NaN,18.0,NaN,735.0,566.0,570.0,323.0
24,872.0,NaN,792.0,NaN,288.0,854.0,NaN,NaN,155.0,490.0,386.0,785.0,104.0,NaN,811.0,NaN,176.0,39.0,477.0
25,682.0,759.0,NaN,867.0,818.0,408.0,NaN,828.0,506.0,825.0,36.0,685.0,20.0,NaN,776.0,512.0,400.0,654.0,883.0
26,471.0,143.0,NaN,354.0,834.0,NaN,727.0,854.0,51.0,665.0,698.0,NaN,190.0,125.0,NaN,314.0,570.0,342.0,305.0
27,692.0,682.0,838.0,783.0,NaN,444.0,NaN,NaN,53.0,572.0,620.0,5.0,103.0,196.0,NaN,877.0,NaN,350.0,NaN
28,867.0,NaN,820.0,656.0,269.0,NaN,636.0,NaN,670.0,NaN,NaN,NaN,831.0,787.0,NaN,58.0,346.0,741.0,474.0

In [49]:
# compute the mean value of each column (see the formula on the image above)
mean = utility_matrix.mean(skipna=True)
mean

0     507.904762
1     418.764706
2     577.000000
3     504.222222
4     492.454545
5     474.400000
6     437.789474
7     396.650000
8     421.850000
9     472.545455
10    478.578947
11    438.300000
12    511.863636
13    431.700000
14    448.050000
15    506.428571
16    405.380952
17    487.173913
18    475.000000
dtype: float64

In [50]:
# then we subtract all values from one column by its mean value
utility_matrix = utility_matrix.sub(mean, axis=1)

# Next we fill NaN value = 0 -> the mean value
utility_matrix = utility_matrix.fillna(0)
utility_matrix

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18
0,-404.904762,17.235294,284.0,-233.222222,0.000000,0.0,0.000000,-375.65,193.15,-350.545455,0.000000,-223.3,-180.863636,27.3,-360.05,-133.428571,0.000000,384.826087,189.0
1,0.000000,0.000000,0.0,0.000000,-148.454545,17.6,-23.789474,0.00,-35.85,-280.545455,0.000000,-277.3,-51.863636,-117.7,-426.05,0.000000,342.619048,369.826087,86.0
2,-32.904762,-359.764706,0.0,0.000000,-16.454545,0.0,345.210526,-206.65,265.15,90.454545,397.421053,128.7,-267.863636,400.3,56.95,-375.428571,79.619048,0.000000,0.0
3,0.000000,0.000000,0.0,-230.222222,0.000000,126.6,-121.789474,0.00,-179.85,0.000000,0.000000,126.7,386.136364,-91.7,-356.05,-139.428571,0.000000,0.000000,34.0
4,268.095238,-383.764706,-371.0,-423.222222,69.545455,397.6,-49.789474,-394.65,-31.85,93.454545,-372.578947,0.0,310.136364,45.3,254.95,-104.428571,324.619048,68.826087,0.0
5,-305.904762,0.000000,286.0,311.777778,-221.454545,-18.4,24.210526,330.35,0.00,229.454545,-182.578947,286.7,208.136364,317.3,0.00,372.571429,0.000000,304.826087,-258.0
6,256.095238,-230.764706,0.0,0.000000,-451.454545,-317.4,0.000000,0.00,-356.85,0.000000,360.421053,82.7,0.000000,0.0,199.95,-34.428571,-342.380952,-348.173913,24.0
7,85.095238,-26.764706,98.0,0.000000,-203.454545,-95.4,335.210526,93.35,0.00,-431.545455,0.000000,-303.3,0.000000,0.0,0.00,-473.428571,-357.380952,15.826087,-68.0
8,66.095238,0.000000,228.0,0.000000,191.545455,0.0,288.210526,0.00,317.15,140.454545,-16.578947,0.0,257.136364,-426.7,-230.05,-3.428571,361.619048,-89.173913,396.0
9,287.095238,-25.764706,0.0,0.000000,365.545455,79.6,454.210526,64.35,0.00,0.000000,385.421053,304.7,-270.863636,0.0,-352.05,227.571429,79.619048,-80.173913,-244.0
10,241.095238,236.235294,0.0,36.777778,-456.454545,50.6,-277.789474,442.35,277.15,-229.545455,-392.578947,0.0,0.000000,250.3,108.95,67.571429,0.000000,308.826087,-447.0
11,112.095238,137.235294,-237.0,293.777778,-161.454545,0.0,0.000000,-48.65,51.15,-241.545455,-288.578947,-213.3,-126.863636,-54.7,-165.05,0.000000,222.619048,0.000000,-216.0
12,-148.904762,0.000000,-121.0,-93.222222,156.545455,0.0,239.210526,-171.65,397.15,-238.545455,205.421053,225.7,315.136364,-57.7,223.95,0.000000,0.000000,-254.173913,217.0
13,-394.904762,0.000000,0.0,0.000000,71.545455,-206.4,72.210526,410.35,-35.85,-85.545455,-365.578947,174.7,113.136364,-350.7,250.95,-393.428571,0.000000,154.826087,-255.0
14,0.000000,436.235294,159.0,-279.222222,-107.454545,-71.4,0.000000,0.00,0.00,0.000000,0.000000,0.0,198.136364,0.0,-201.05,329.571429,33.619048,-284.173913,0.0
15,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.000000,213.35,0.00,38.454545,273.421053,-294.3,0.000000,-230.7,-324.05,0.000000,-79.380952,-23.173913,0.0
16,0.000000,241.235294,187.0,0.000000,0.000000,36.6,-290.789474,-248.65,442.15,238.454545,341.421053,0.0,0.000000,119.3,-110.05,365.571429,235.619048,0.000000,-2.0
17,-356.904762,0.000000,0.0,106.777778,0.000000,289.6,0.000000,-50.65,0.00,99.454545,402.421053,-436.3,385.136364,-127.7,0.00,145.571429,47.619048,-450.173913,-315.0
18,0.000000,0.000000,-478.0,154.777778,323.545455,-266.4,-306.789474,7.35,0.00,0.000000,0.000000,0.0,0.000000,0.0,0.00,0.000000,16.619048,0.000000,377.0
19,-253.904762,-191.764706,0.0,5.777778,-19.454545,-375.4,-284.789474,0.00,0.00,405.454545,-140.578947,267.7,310.136364,0.0,271.95,0.000000,-244.380952,92.826087,326.0
20,0.000000,0.000000,239.0,0.000000,403.545455,0.0,-302.789474,-201.65,0.00,167.454545,0.000000,0.0,-51.863636,451.3,21.95,0.000000,-383.380952,262.826087,195.0
21,-469.904762,-188.764706,-212.0,58.777778,-54.454545,301.6,0.000000,-369.65,-195.85,0.000000,0.000000,170.7,-227.863636,447.3,0.00,-53.428571,0.000000,0.000000,0.0
22,8.095238,128.235294,-385.0,-455.222222,19.545455,-457.4,-265.789474,-176.65,-263.85,4.454545,-432.578947,-65.3,6.136364,0.0,443.95,238.571429,-368.380952,-207.173913,-126.0
23,0.000000,-116.764706,-396.0,102.777778,0.000000,225.6,-321.789474,-205.65,-168.85,-311.545455,0.000000,-115.3,0.000000,-413.7,0.00,228.571429,160.619048,82.826087,-152.0
24,364.095238,0.000000,215.0,0.000000,-204.454545,379.6,0.000000,0.00,-266.85,17.454545,-92.578947,346.7,-407.863636,0.0,362.95,0.000000,-229.380952,-448.173913,2.0
25,174.095238,340.235294,0.0,362.777778,325.545455,-66.4,0.000000,431.35,84.15,352.454545,-442.578947,246.7,-491.863636,0.0,327.95,5.571429,-5.380952,166.826087,408.0
26,-36.904762,-275.764706,0.0,-150.222222,341.545455,0.0,289.210526,457.35,-370.85,192.454545,219.421053,0.0,-321.863636,-306.7,0.00,-192.428571,164.619048,-145.173913,-170.0
27,184.095238,263.235294,261.0,278.777778,0.000000,-30.4,0.000000,0.00,-368.85,99.454545,141.421053,-433.3,-408.863636,-235.7,0.00,370.571429,0.000000,-137.173913,0.0
28,359.095238,0.000000,243.0,151.777778,-223.454545,0.0,198.210526,0.00,248.15,0.000000,0.000000,0.0,319.136364,355.3,0.00,-448.428571,-59.380952,253.826087,-1.0

In [51]:
# function to calculate cosine similarity
def cosine(a, b):
  # add the epsilon to avoid denominator being 0
  return a.dot(b) / ((np.linalg.norm(a) * np.linalg.norm(b)) + np.finfo(np.float64).eps)

In [52]:
utility_matrix = utility_matrix.values
print(utility_matrix.shape)

(29, 19)

In [53]:
from tqdm.notebook import tqdm
COLS = df.columns.values.tolist().copy()

# now we have to create the user similariry matrix S (look at the image c above)
num_user = utility_matrix.shape[1]
user_to_user_similarity_matrix = np.zeros((num_user, num_user))

for i in tqdm(range(num_user)):
  for j in range(num_user):
    # Take one pair of users
    user_i = utility_matrix[:,i]
    user_j = utility_matrix[:,j]
    # do not need to muliply with zero -> less computation
    index_not_zero = (user_i > 0) & (user_j > 0)
    user_to_user_similarity_matrix[i,j] = cosine(user_i[index_not_zero], user_j[index_not_zero])

user_to_user_similarity_matrix

  0%|          | 0/19 [00:00<?, ?it/s]

array([[1.        , 0.93796209, 0.88236286, 0.72538745, 0.83699427,
        0.85427558, 0.79450579, 0.78522823, 0.81724852, 0.57084762,
        0.98279356, 0.94045664, 0.92237812, 0.8997879 , 0.76042038,
        0.67418561, 0.70986646, 0.89733604, 0.37902442],
       [0.93796209, 1.        , 0.72937378, 0.88515434, 0.95519753,
        0.98564166, 0.        , 0.98180013, 0.7488646 , 0.91685035,
        0.90632905, 1.        , 0.96767719, 0.93825873, 0.79628551,
        0.80018069, 0.6056809 , 0.63144527, 0.92747593],
       [0.88236286, 0.72937378, 1.        , 0.97749832, 0.94964984,
        0.81403033, 0.70401517, 0.99850324, 0.90289074, 0.88802299,
        0.8491619 , 0.97246212, 0.97194572, 0.84272197, 0.71245246,
        0.98171342, 0.90914553, 0.98130968, 0.81882358],
       [0.72538745, 0.88515434, 0.97749832, 1.        , 0.92901558,
        0.94269829, 0.5434879 , 0.78392471, 0.49312809, 0.70859808,
        0.64706495, 0.80023452, 0.6897607 , 0.7611769 , 0.7766559 ,
        0.76950321, 0.88248842, 0.76754891, 0.81964276],
       [0.83699427, 0.95519753, 0.94964984, 0.92901558, 1.        ,
        0.37610902, 0.97666775, 0.68404343, 0.71362685, 0.9228042 ,
        0.96791139, 0.95193083, 0.91616447, 0.99750757, 0.50913794,
        0.55506132, 0.55807862, 0.9417498 , 0.906201  ],
       [0.85427558, 0.98564166, 0.81403033, 0.94269829, 0.37610902,
        1.        , 1.        , 0.65236524, 0.92691834, 0.47454579,
        0.80777593, 0.86640982, 0.89038035, 0.63972032, 0.97035668,
        0.65818362, 0.6523761 , 0.30006596, 0.17752444],
       [0.79450579, 0.        , 0.70401517, 0.5434879 , 0.97666775,
        1.        , 1.        , 0.51031989, 0.95813179, 0.72420299,
        0.98760159, 0.78712698, 0.92285538, 0.87164999, 0.62838759,
        0.56594932, 0.74374462, 0.43869985, 0.98172587],
       [0.78522823, 0.98180013, 0.99850324, 0.78392471, 0.68404343,
        0.65236524, 0.51031989, 1.        , 0.88790362, 0.94160843,
        0.69223696, 0.82838315, 0.92295997, 0.96601853, 0.92381184,
        0.54695381, 0.94953107, 0.93411433, 0.74591394],
       [0.81724852, 0.7488646 , 0.90289074, 0.49312809, 0.71362685,
        0.92691834, 0.95813179, 0.88790362, 1.        , 0.72883522,
        0.92265554, 0.83189689, 0.97776182, 0.8023643 , 0.69702865,
        0.92014855, 0.84084845, 0.95652264, 0.80606895],
       [0.57084762, 0.91685035, 0.88802299, 0.70859808, 0.9228042 ,
        0.47454579, 0.72420299, 0.94160843, 0.72883522, 1.        ,
        0.83866886, 0.79564614, 0.81669973, 0.79719089, 0.60679928,
        0.64546339, 0.84384268, 0.78233548, 0.91811947],
       [0.98279356, 0.90632905, 0.8491619 , 0.64706495, 0.96791139,
        0.80777593, 0.98760159, 0.69223696, 0.92265554, 0.83866886,
        1.        , 0.86526821, 0.97723486, 0.91304682, 0.80149053,
        0.82501685, 0.79689304, 0.        , 0.58767338],
       [0.94045664, 1.        , 0.97246212, 0.80023452, 0.95193083,
        0.86640982, 0.78712698, 0.82838315, 0.83189689, 0.79564614,
        0.86526821, 1.        , 0.89013569, 0.90125843, 0.97074258,
        0.83717704, 0.92651782, 0.93052757, 0.75261651],
       [0.92237812, 0.96767719, 0.97194572, 0.6897607 , 0.91616447,
        0.89038035, 0.92285538, 0.92295997, 0.97776182, 0.81669973,
        0.97723486, 0.89013569, 1.        , 0.82303941, 0.71679833,
        0.73078337, 0.75529263, 0.81217299, 0.79544502],
       [0.8997879 , 0.93825873, 0.84272197, 0.7611769 , 0.99750757,
        0.63972032, 0.87164999, 0.96601853, 0.8023643 , 0.79719089,
        0.91304682, 0.90125843, 0.82303941, 1.        , 0.384819  ,
        0.80593428, 0.43468636, 0.8170469 , 0.7587814 ],
       [0.76042038, 0.79628551, 0.71245246, 0.7766559 , 0.50913794,
        0.97035668, 0.62838759, 0.92381184, 0.69702865, 0.60679928,
        0.80149053, 0.97074258, 0.71679833, 0.384819  , 1.        ,
        0.82490882, 0.99978469, 0.64660377, 0.73820014],
       [0.67418561, 0.80018069, 0.98171342, 0.76950321, 0.55506132,
        0.65818362, 0.56594932, 0.54695381, 0.92014855, 0.64546339,
        0.82501685, 0.83717704, 0.73078337, 0.80593428, 0.82490882,
        1.        , 0.8691145 , 0.73872657, 1.        ],
       [0.70986646, 0.6056809 , 0.90914553, 0.88248842, 0.55807862,
        0.6523761 , 0.74374462, 0.94953107, 0.84084845, 0.84384268,
        0.79689304, 0.92651782, 0.75529263, 0.43468636, 0.99978469,
        0.8691145 , 1.        , 0.84542731, 0.64860577],
       [0.89733604, 0.63144527, 0.98130968, 0.76754891, 0.9417498 ,
        0.30006596, 0.43869985, 0.93411433, 0.95652264, 0.78233548,
        0.        , 0.93052757, 0.81217299, 0.8170469 , 0.64660377,
        0.73872657, 0.84542731, 1.        , 0.68367921],
       [0.37902442, 0.92747593, 0.81882358, 0.81964276, 0.906201  ,
        0.17752444, 0.98172587, 0.74591394, 0.80606895, 0.91811947,
        0.58767338, 0.75261651, 0.79544502, 0.7587814 , 0.73820014,
        1.        , 0.64860577, 0.68367921, 1.        ]])

In [54]:
# check the diagnal of the user similarity matrix = 1 -> true
user_to_user_similarity_matrix.diagonal()

array([1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1.])

In [55]:
# Now we take out the position whose value is 0 in the utility matrix
zero_rating_indices = np.where(utility_matrix == 0)

In [56]:
# Now we have to fill in the position whose value is 0 in the utility matrix
for blog, user in zip(zero_rating_indices[0], zero_rating_indices[1]):
  similar_users = user_to_user_similarity_matrix[user]
  blog_time_spent = utility_matrix[blog]
  index = blog_time_spent > 0
  blog_time_spent = blog_time_spent[index]
  similar_users = similar_users[index]
  utility_matrix[blog, user] = np.sum(blog_time_spent * similar_users) / (np.sum(similar_users) + np.finfo(np.float64).eps)

In [57]:
utility_matrix = pd.DataFrame(utility_matrix)
utility_matrix

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18
0,-404.904762,17.235294,284.000000,-233.222222,180.257445,156.751488,184.790459,-375.650000,193.150000,-350.545455,151.910000,-223.300000,-180.863636,27.300000,-360.050000,-133.428571,192.196212,384.826087,189.000000
1,219.222971,181.932083,211.347864,199.977630,-148.454545,17.600000,-23.789474,214.448216,-35.850000,-280.545455,187.473391,-277.300000,-51.863636,-117.700000,-426.050000,202.867380,342.619048,369.826087,86.000000
2,-32.904762,-359.764706,217.625729,208.568416,-16.454545,222.796025,345.210526,-206.650000,265.150000,90.454545,397.421053,128.700000,-267.863636,400.300000,56.950000,-375.428571,79.619048,196.527116,217.061178
3,192.613615,173.765985,178.474951,-230.222222,178.113093,126.600000,-121.789474,180.505148,-179.850000,175.227467,183.110487,126.700000,386.136364,-91.700000,-356.050000,-139.428571,177.420518,180.073984,34.000000
4,268.095238,-383.764706,-371.000000,-423.222222,69.545455,397.600000,-49.789474,-394.650000,-31.850000,93.454545,-372.578947,203.871205,310.136364,45.300000,254.950000,-104.428571,324.619048,68.826087,177.760108
5,-305.904762,292.419457,286.000000,311.777778,-221.454545,-18.400000,24.210526,330.350000,265.593395,229.454545,-182.578947,286.700000,208.136364,317.300000,273.744875,372.571429,271.246053,304.826087,-258.000000
6,256.095238,-230.764706,182.882154,176.740148,-451.454545,-317.400000,183.998499,181.352023,-356.850000,178.660459,360.421053,82.700000,186.317894,184.898053,199.950000,-34.428571,-342.380952,-348.173913,24.000000
7,85.095238,-26.764706,98.000000,111.913764,-203.454545,-95.400000,335.210526,93.350000,126.083884,-431.545455,147.843946,-303.300000,128.810110,127.559252,124.333089,-473.428571,-357.380952,15.826087,-68.000000
8,66.095238,237.538024,228.000000,247.270299,191.545455,242.797996,288.210526,247.157287,317.150000,140.454545,-16.578947,245.168818,257.136364,-426.700000,-230.050000,-3.428571,361.619048,-89.173913,396.000000
9,287.095238,-25.764706,244.220620,237.151859,365.545455,79.600000,454.210526,64.350000,247.899430,250.340808,385.421053,304.700000,-270.863636,259.689422,-352.050000,227.571429,79.619048,-80.173913,-244.000000
10,241.095238,236.235294,205.380909,36.777778,-456.454545,50.600000,-277.789474,442.350000,277.150000,-229.545455,-392.578947,203.273918,209.922996,250.300000,108.950000,67.571429,202.674773,308.826087,-447.000000
11,112.095238,137.235294,-237.000000,293.777778,-161.454545,160.620480,154.442001,-48.650000,51.150000,-241.545455,-288.578947,-213.300000,-126.863636,-54.700000,-165.050000,160.752796,222.619048,158.645213,-216.000000
12,-148.904762,244.907147,-121.000000,-93.222222,156.545455,257.889344,239.210526,-171.650000,397.150000,-238.545455,205.421053,225.700000,315.136364,-57.700000,223.950000,251.882485,251.305133,-254.173913,217.000000
13,-394.904762,197.470583,182.788115,183.473754,71.545455,-206.400000,72.210526,410.350000,-35.850000,-85.545455,-365.578947,174.700000,113.136364,-350.700000,250.950000,-393.428571,190.818935,154.826087,-255.000000
14,237.058373,436.235294,159.000000,-279.222222,-107.454545,-71.400000,186.182122,221.809329,221.804206,223.948843,226.183602,225.934292,198.136364,234.404159,-201.050000,329.571429,33.619048,-284.173913,231.918848
15,195.905157,180.682801,180.337257,179.738980,179.465213,187.471521,184.239172,213.350000,184.559743,38.454545,273.421053,-294.300000,183.657542,-230.700000,-324.050000,183.371388,-79.380952,-23.173913,177.111135
16,242.398372,241.235294,187.000000,230.296699,246.299588,36.600000,-290.789474,-248.650000,442.150000,238.454545,341.421053,241.958395,244.963535,119.300000,-110.050000,365.571429,235.619048,247.385101,-2.000000
17,-356.904762,223.135949,209.726541,106.777778,219.065402,289.600000,230.440970,-50.650000,224.332954,99.454545,402.421053,-436.300000,385.136364,-127.700000,213.537219,145.571429,47.619048,-450.173913,-315.000000
18,158.166843,181.616822,-478.000000,154.777778,323.545455,-266.400000,-306.789474,7.350000,168.976026,176.338135,173.931559,172.416831,174.086439,178.852365,162.849827,176.682627,16.619048,170.583487,377.000000
19,-253.904762,-191.764706,233.964435,5.777778,-19.454545,-375.400000,-284.789474,241.415505,245.950524,405.454545,-140.578947,267.700000,310.136364,239.320373,271.950000,240.501698,-244.380952,92.826087,326.000000
20,263.405249,255.839626,239.000000,253.968054,403.545455,239.616295,-302.789474,-201.650000,252.052011,167.454545,255.776320,251.701966,-51.863636,451.300000,21.950000,247.077374,-383.380952,262.826087,195.000000
21,-469.904762,-188.764706,-212.000000,58.777778,-54.454545,301.600000,267.871854,-369.650000,-195.850000,248.891698,259.130913,170.700000,-227.863636,447.300000,234.117865,-53.428571,231.045032,238.568245,240.449536
22,8.095238,128.235294,-385.000000,-455.222222,19.545455,-457.400000,-265.789474,-176.650000,-263.850000,4.454545,-432.578947,-65.300000,6.136364,91.881701,443.950000,238.571429,-368.380952,-207.173913,-126.000000
23,157.915224,-116.764706,-396.000000,102.777778,144.630905,225.600000,-321.789474,-205.650000,-168.850000,-311.545455,171.159657,-115.300000,160.260107,-413.700000,163.742005,228.571429,160.619048,82.826087,-152.000000
24,364.095238,242.475696,215.000000,244.140577,-204.454545,379.600000,238.259453,237.943040,-266.850000,17.454545,-92.578947,346.700000,-407.863636,236.272648,362.950000,235.626887,-229.380952,-448.173913,2.000000
25,174.095238,340.235294,265.123594,362.777778,325.545455,-66.400000,263.923977,431.350000,84.150000,352.454545,-442.578947,246.700000,-491.863636,268.034489,327.950000,5.571429,-5.380952,166.826087,408.000000
26,-36.904762,-275.764706,281.497357,-150.222222,341.545455,276.551094,289.210526,457.350000,-370.850000,192.454545,219.421053,277.461135,-321.863636,-306.700000,277.077677,-192.428571,164.619048,-145.173913,-170.000000
27,184.095238,263.235294,261.000000,278.777778,220.174336,-30.400000,211.081746,221.630820,-368.850000,99.454545,141.421053,-433.300000,-408.863636,-235.700000,228.999205,370.571429,226.808445,-137.173913,231.153082
28,359.095238,280.316604,243.000000,151.777778,-223.454545,263.782200,198.210526,271.543778,248.150000,267.441158,272.753817,270.031910,319.136364,355.300000,265.981278,-448.428571,-59.380952,253.826087,-1.000000

In [58]:
# add the mean value to get the initial scale
utility_matrix = utility_matrix.values
mean = mean.values
utility_matrix = utility_matrix + mean
utility_matrix = pd.DataFrame(utility_matrix)
utility_matrix

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18
0,103.000000,436.000000,861.000000,271.000000,672.711990,631.151488,622.579933,21.000000,615.000000,122.000000,630.488947,215.000000,331.000000,459.000000,88.000000,373.000000,597.577164,872.000000,664.000000
1,727.127733,600.696789,788.347864,704.199852,344.000000,492.000000,414.000000,611.098216,386.000000,192.000000,666.052339,161.000000,460.000000,314.000000,22.000000,709.295951,748.000000,857.000000,561.000000
2,475.000000,59.000000,794.625729,712.790638,476.000000,697.196025,783.000000,190.000000,687.000000,563.000000,876.000000,567.000000,244.000000,832.000000,505.000000,131.000000,485.000000,683.701029,692.061178
3,700.518377,592.530691,755.474951,274.000000,670.567638,601.000000,316.000000,577.155148,242.000000,647.772921,661.689434,565.000000,898.000000,340.000000,92.000000,367.000000,582.801470,667.247897,509.000000
4,776.000000,35.000000,206.000000,81.000000,562.000000,872.000000,388.000000,2.000000,390.000000,566.000000,106.000000,642.171205,822.000000,477.000000,703.000000,402.000000,730.000000,556.000000,652.760108
5,202.000000,711.184163,863.000000,816.000000,271.000000,456.000000,462.000000,727.000000,687.443395,702.000000,296.000000,725.000000,720.000000,749.000000,721.794875,879.000000,676.627006,792.000000,217.000000
6,764.000000,188.000000,759.882154,680.962370,41.000000,157.000000,621.787973,578.002023,65.000000,651.205913,839.000000,521.000000,698.181530,616.598053,648.000000,472.000000,63.000000,139.000000,499.000000
7,593.000000,392.000000,675.000000,616.135986,289.000000,379.000000,773.000000,490.000000,547.933884,41.000000,626.422894,135.000000,640.673746,559.259252,572.383089,33.000000,48.000000,503.000000,407.000000
8,574.000000,656.302730,805.000000,751.492521,684.000000,717.197996,726.000000,643.807287,739.000000,613.000000,462.000000,683.468818,769.000000,5.000000,218.000000,503.000000,767.000000,398.000000,871.000000
9,795.000000,393.000000,821.220620,741.374081,858.000000,554.000000,892.000000,461.000000,669.749430,722.886262,864.000000,743.000000,241.000000,691.389422,96.000000,734.000000,485.000000,407.000000,231.000000
10,749.000000,655.000000,782.380909,541.000000,36.000000,525.000000,160.000000,839.000000,699.000000,243.000000,86.000000,641.573918,721.786632,682.000000,557.000000,574.000000,608.055726,796.000000,28.000000
11,620.000000,556.000000,340.000000,798.000000,331.000000,635.020480,592.231475,348.000000,473.000000,231.000000,190.000000,225.000000,385.000000,377.000000,283.000000,667.181367,628.000000,645.819126,259.000000
12,359.000000,663.671853,456.000000,411.000000,649.000000,732.289344,677.000000,225.000000,819.000000,234.000000,684.000000,664.000000,827.000000,374.000000,672.000000,758.311056,656.686086,233.000000,692.000000
13,113.000000,616.235289,759.788115,687.695976,564.000000,268.000000,510.000000,807.000000,386.000000,387.000000,113.000000,613.000000,625.000000,81.000000,699.000000,113.000000,596.199888,642.000000,220.000000
14,744.963135,855.000000,736.000000,225.000000,385.000000,403.000000,623.971596,618.459329,643.654206,696.494298,704.762550,664.234292,710.000000,666.104159,247.000000,836.000000,439.000000,203.000000,706.918848
15,703.809918,599.447507,757.337257,683.961202,671.919759,661.871521,622.028646,610.000000,606.409743,511.000000,752.000000,144.000000,695.521178,201.000000,124.000000,689.799959,326.000000,464.000000,652.111135
16,750.303134,660.000000,764.000000,734.518921,738.754133,511.000000,147.000000,148.000000,864.000000,711.000000,820.000000,680.258395,756.827171,551.000000,338.000000,872.000000,641.000000,734.559014,473.000000
17,151.000000,641.900654,786.726541,611.000000,711.519948,764.000000,668.230444,346.000000,646.182954,572.000000,881.000000,2.000000,897.000000,304.000000,661.587219,652.000000,453.000000,37.000000,160.000000
18,666.071605,600.381528,99.000000,659.000000,816.000000,208.000000,131.000000,404.000000,590.826026,648.883589,652.510506,610.716831,685.950075,610.552365,610.899827,683.111199,422.000000,657.757401,852.000000
19,254.000000,227.000000,810.964435,510.000000,473.000000,99.000000,153.000000,638.065505,667.800524,878.000000,338.000000,706.000000,822.000000,671.020373,720.000000,746.930270,161.000000,580.000000,801.000000
20,771.310011,674.604332,816.000000,758.190276,896.000000,714.016295,135.000000,195.000000,673.902011,640.000000,734.355268,690.001966,460.000000,883.000000,470.000000,753.505945,22.000000,750.000000,670.000000
21,38.000000,230.000000,365.000000,563.000000,438.000000,776.000000,705.661328,27.000000,226.000000,721.437152,737.709860,609.000000,284.000000,879.000000,682.167865,453.000000,636.425984,725.742158,715.449536
22,516.000000,547.000000,192.000000,49.000000,512.000000,17.000000,172.000000,220.000000,158.000000,477.000000,46.000000,373.000000,518.000000,523.581701,892.000000,745.000000,37.000000,280.000000,349.000000
23,665.819986,302.000000,181.000000,607.000000,637.085451,700.000000,116.000000,191.000000,253.000000,161.000000,649.738604,323.000000,672.123744,18.000000,611.792005,735.000000,566.000000,570.000000,323.000000
24,872.000000,661.240402,792.000000,748.362800,288.000000,854.000000,676.048927,634.593040,155.000000,490.000000,386.000000,785.000000,104.000000,667.972648,811.000000,742.055459,176.000000,39.000000,477.000000
25,682.000000,759.000000,842.123594,867.000000,818.000000,408.000000,701.713451,828.000000,506.000000,825.000000,36.000000,685.000000,20.000000,699.734489,776.000000,512.000000,400.000000,654.000000,883.000000
26,471.000000,143.000000,858.497357,354.000000,834.000000,750.951094,727.000000,854.000000,51.000000,665.000000,698.000000,715.761135,190.000000,125.000000,725.127677,314.000000,570.000000,342.000000,305.000000
27,692.000000,682.000000,838.000000,783.000000,712.628881,444.000000,648.871219,618.280820,53.000000,572.000000,620.000000,5.000000,103.000000,196.000000,677.049205,877.000000,632.189397,350.000000,706.153082
28,867.000000,699.081310,820.000000,656.000000,269.000000,738.182200,636.000000,668.193778,670.000000,739.986613,751.332765,708.331910,831.000000,787.000000,714.031278,58.000000,346.000000,741.000000,474.000000

In [59]:
# save the file
utility_matrix.to_csv("filled_utility_matrix.csv", index=False)

In [60]:
# Now the position whose value is 0 has been filled.
# We have to use this result to suggest blogs that user may want to read (may want to spend long time reading)

utility_matrix = pd.read_csv("/content/utility_matrix.csv")
utility_matrix_filled = pd.read_csv("/content/filled_utility_matrix.csv")

In [61]:
utility_matrix

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18
0,103,436,861,271,0,0,0,21,615,122,0,215,331,459,88,373,0,872,664
1,0,0,0,0,344,492,414,0,386,192,0,161,460,314,22,0,748,857,561
2,475,59,0,0,476,0,783,190,687,563,876,567,244,832,505,131,485,0,0
3,0,0,0,274,0,601,316,0,242,0,0,565,898,340,92,367,0,0,509
4,776,35,206,81,562,872,388,2,390,566,106,0,822,477,703,402,730,556,0
5,202,0,863,816,271,456,462,727,0,702,296,725,720,749,0,879,0,792,217
6,764,188,0,0,41,157,0,0,65,0,839,521,0,0,648,472,63,139,499
7,593,392,675,0,289,379,773,490,0,41,0,135,0,0,0,33,48,503,407
8,574,0,805,0,684,0,726,0,739,613,462,0,769,5,218,503,767,398,871
9,795,393,0,0,858,554,892,461,0,0,864,743,241,0,96,734,485,407,231
10,749,655,0,541,36,525,160,839,699,243,86,0,0,682,557,574,0,796,28
11,620,556,340,798,331,0,0,348,473,231,190,225,385,377,283,0,628,0,259
12,359,0,456,411,649,0,677,225,819,234,684,664,827,374,672,0,0,233,692
13,113,0,0,0,564,268,510,807,386,387,113,613,625,81,699,113,0,642,220
14,0,855,736,225,385,403,0,0,0,0,0,0,710,0,247,836,439,203,0
15,0,0,0,0,0,0,0,610,0,511,752,144,0,201,124,0,326,464,0
16,0,660,764,0,0,511,147,148,864,711,820,0,0,551,338,872,641,0,473
17,151,0,0,611,0,764,0,346,0,572,881,2,897,304,0,652,453,37,160
18,0,0,99,659,816,208,131,404,0,0,0,0,0,0,0,0,422,0,852
19,254,227,0,510,473,99,153,0,0,878,338,706,822,0,720,0,161,580,801
20,0,0,816,0,896,0,135,195,0,640,0,0,460,883,470,0,22,750,670
21,38,230,365,563,438,776,0,27,226,0,0,609,284,879,0,453,0,0,0
22,516,547,192,49,512,17,172,220,158,477,46,373,518,0,892,745,37,280,349
23,0,302,181,607,0,700,116,191,253,161,0,323,0,18,0,735,566,570,323
24,872,0,792,0,288,854,0,0,155,490,386,785,104,0,811,0,176,39,477
25,682,759,0,867,818,408,0,828,506,825,36,685,20,0,776,512,400,654,883
26,471,143,0,354,834,0,727,854,51,665,698,0,190,125,0,314,570,342,305
27,692,682,838,783,0,444,0,0,53,572,620,5,103,196,0,877,0,350,0
28,867,0,820,656,269,0,636,0,670,0,0,0,831,787,0,58,346,741,474

In [62]:
utility_matrix_filled

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18
0,103.000000,436.000000,861.000000,271.000000,672.711990,631.151488,622.579933,21.000000,615.000000,122.000000,630.488947,215.000000,331.000000,459.000000,88.000000,373.000000,597.577164,872.000000,664.000000
1,727.127733,600.696789,788.347864,704.199852,344.000000,492.000000,414.000000,611.098216,386.000000,192.000000,666.052339,161.000000,460.000000,314.000000,22.000000,709.295951,748.000000,857.000000,561.000000
2,475.000000,59.000000,794.625729,712.790638,476.000000,697.196025,783.000000,190.000000,687.000000,563.000000,876.000000,567.000000,244.000000,832.000000,505.000000,131.000000,485.000000,683.701029,692.061178
3,700.518377,592.530691,755.474951,274.000000,670.567638,601.000000,316.000000,577.155148,242.000000,647.772921,661.689434,565.000000,898.000000,340.000000,92.000000,367.000000,582.801470,667.247897,509.000000
4,776.000000,35.000000,206.000000,81.000000,562.000000,872.000000,388.000000,2.000000,390.000000,566.000000,106.000000,642.171205,822.000000,477.000000,703.000000,402.000000,730.000000,556.000000,652.760108
5,202.000000,711.184163,863.000000,816.000000,271.000000,456.000000,462.000000,727.000000,687.443395,702.000000,296.000000,725.000000,720.000000,749.000000,721.794875,879.000000,676.627006,792.000000,217.000000
6,764.000000,188.000000,759.882154,680.962370,41.000000,157.000000,621.787973,578.002023,65.000000,651.205913,839.000000,521.000000,698.181530,616.598053,648.000000,472.000000,63.000000,139.000000,499.000000
7,593.000000,392.000000,675.000000,616.135986,289.000000,379.000000,773.000000,490.000000,547.933884,41.000000,626.422894,135.000000,640.673746,559.259252,572.383089,33.000000,48.000000,503.000000,407.000000
8,574.000000,656.302730,805.000000,751.492521,684.000000,717.197996,726.000000,643.807287,739.000000,613.000000,462.000000,683.468818,769.000000,5.000000,218.000000,503.000000,767.000000,398.000000,871.000000
9,795.000000,393.000000,821.220620,741.374081,858.000000,554.000000,892.000000,461.000000,669.749430,722.886262,864.000000,743.000000,241.000000,691.389422,96.000000,734.000000,485.000000,407.000000,231.000000
10,749.000000,655.000000,782.380909,541.000000,36.000000,525.000000,160.000000,839.000000,699.000000,243.000000,86.000000,641.573918,721.786632,682.000000,557.000000,574.000000,608.055726,796.000000,28.000000
11,620.000000,556.000000,340.000000,798.000000,331.000000,635.020480,592.231475,348.000000,473.000000,231.000000,190.000000,225.000000,385.000000,377.000000,283.000000,667.181367,628.000000,645.819126,259.000000
12,359.000000,663.671853,456.000000,411.000000,649.000000,732.289344,677.000000,225.000000,819.000000,234.000000,684.000000,664.000000,827.000000,374.000000,672.000000,758.311056,656.686086,233.000000,692.000000
13,113.000000,616.235289,759.788115,687.695976,564.000000,268.000000,510.000000,807.000000,386.000000,387.000000,113.000000,613.000000,625.000000,81.000000,699.000000,113.000000,596.199888,642.000000,220.000000
14,744.963135,855.000000,736.000000,225.000000,385.000000,403.000000,623.971596,618.459329,643.654206,696.494298,704.762550,664.234292,710.000000,666.104159,247.000000,836.000000,439.000000,203.000000,706.918848
15,703.809918,599.447507,757.337257,683.961202,671.919759,661.871521,622.028646,610.000000,606.409743,511.000000,752.000000,144.000000,695.521178,201.000000,124.000000,689.799959,326.000000,464.000000,652.111135
16,750.303134,660.000000,764.000000,734.518921,738.754133,511.000000,147.000000,148.000000,864.000000,711.000000,820.000000,680.258395,756.827171,551.000000,338.000000,872.000000,641.000000,734.559014,473.000000
17,151.000000,641.900654,786.726541,611.000000,711.519948,764.000000,668.230444,346.000000,646.182954,572.000000,881.000000,2.000000,897.000000,304.000000,661.587219,652.000000,453.000000,37.000000,160.000000
18,666.071605,600.381528,99.000000,659.000000,816.000000,208.000000,131.000000,404.000000,590.826026,648.883589,652.510506,610.716831,685.950075,610.552365,610.899827,683.111199,422.000000,657.757401,852.000000
19,254.000000,227.000000,810.964435,510.000000,473.000000,99.000000,153.000000,638.065505,667.800524,878.000000,338.000000,706.000000,822.000000,671.020373,720.000000,746.930270,161.000000,580.000000,801.000000
20,771.310011,674.604332,816.000000,758.190276,896.000000,714.016295,135.000000,195.000000,673.902011,640.000000,734.355268,690.001966,460.000000,883.000000,470.000000,753.505945,22.000000,750.000000,670.000000
21,38.000000,230.000000,365.000000,563.000000,438.000000,776.000000,705.661328,27.000000,226.000000,721.437152,737.709860,609.000000,284.000000,879.000000,682.167865,453.000000,636.425984,725.742158,715.449536
22,516.000000,547.000000,192.000000,49.000000,512.000000,17.000000,172.000000,220.000000,158.000000,477.000000,46.000000,373.000000,518.000000,523.581701,892.000000,745.000000,37.000000,280.000000,349.000000
23,665.819986,302.000000,181.000000,607.000000,637.085451,700.000000,116.000000,191.000000,253.000000,161.000000,649.738604,323.000000,672.123744,18.000000,611.792005,735.000000,566.000000,570.000000,323.000000
24,872.000000,661.240402,792.000000,748.362800,288.000000,854.000000,676.048927,634.593040,155.000000,490.000000,386.000000,785.000000,104.000000,667.972648,811.000000,742.055459,176.000000,39.000000,477.000000
25,682.000000,759.000000,842.123594,867.000000,818.000000,408.000000,701.713451,828.000000,506.000000,825.000000,36.000000,685.000000,20.000000,699.734489,776.000000,512.000000,400.000000,654.000000,883.000000
26,471.000000,143.000000,858.497357,354.000000,834.000000,750.951094,727.000000,854.000000,51.000000,665.000000,698.000000,715.761135,190.000000,125.000000,725.127677,314.000000,570.000000,342.000000,305.000000
27,692.000000,682.000000,838.000000,783.000000,712.628881,444.000000,648.871219,618.280820,53.000000,572.000000,620.000000,5.000000,103.000000,196.000000,677.049205,877.000000,632.189397,350.000000,706.153082
28,867.000000,699.081310,820.000000,656.000000,269.000000,738.182200,636.000000,668.193778,670.000000,739.986613,751.332765,708.331910,831.000000,787.000000,714.031278,58.000000,346.000000,741.000000,474.000000

In [63]:
def convert_sec(t):
  h = t // 3600
  m = (t - h*3600)//60
  s = t - h*3600 - m*60
  return (f'{h} h {m} p {s} s')

In [65]:
current_user_logined_id = 4
for blog, user in zip(zero_rating_indices[0], zero_rating_indices[1]):
    if user == current_user_logined_id - 1:
      print(f'User {user + 1} is expected to spend time spend {convert_sec(utility_matrix_filled.iloc[blog, user])}s reading on blog {blog + 1}')

User 4 is expected to spend time spend 0.0 h 11.0 p 44.1998518261737 ss reading on blog 2
User 4 is expected to spend time spend 0.0 h 11.0 p 52.790637967274506 ss reading on blog 3
User 4 is expected to spend time spend 0.0 h 11.0 p 20.962370445523675 ss reading on blog 7
User 4 is expected to spend time spend 0.0 h 10.0 p 16.135986204366873 ss reading on blog 8
User 4 is expected to spend time spend 0.0 h 12.0 p 31.492521422544996 ss reading on blog 9
User 4 is expected to spend time spend 0.0 h 12.0 p 21.374080857518948 ss reading on blog 10
User 4 is expected to spend time spend 0.0 h 11.0 p 27.69597574876377 ss reading on blog 14
User 4 is expected to spend time spend 0.0 h 11.0 p 23.961202023650912 ss reading on blog 16
User 4 is expected to spend time spend 0.0 h 12.0 p 14.518920996640531 ss reading on blog 17
User 4 is expected to spend time spend 0.0 h 12.0 p 38.19027601784853 ss reading on blog 21
User 4 is expected to spend time spend 0.0 h 12.0 p 28.362799709319916 ss reading on blog 25

In [67]:
# Next put it into a dict and then sort
dictionary = {}
current_user_logined_id = 4
for blog, user in zip(zero_rating_indices[0], zero_rating_indices[1]):
    if user == current_user_logined_id - 1:
      dictionary[blog + 1] = utility_matrix_filled.iloc[blog, user]

dictionary

{2: 704.1998518261737,
 3: 712.7906379672745,
 7: 680.9623704455237,
 8: 616.1359862043669,
 9: 751.492521422545,
 10: 741.374080857519,
 14: 687.6959757487638,
 16: 683.9612020236509,
 17: 734.5189209966405,
 21: 758.1902760178485,
 25: 748.3627997093199}

In [68]:
# sort the dictionary with second value
dictionary = sorted(dictionary.items(), key=lambda item: item[1], reverse=True)
dictionary

[(21, 758.1902760178485),
 (9, 751.492521422545),
 (25, 748.3627997093199),
 (10, 741.374080857519),
 (17, 734.5189209966405),
 (3, 712.7906379672745),
 (2, 704.1998518261737),
 (14, 687.6959757487638),
 (16, 683.9612020236509),
 (7, 680.9623704455237),
 (8, 616.1359862043669)]

- We do not suggest all these blogs
- The only blogs whose expected time spent is greater than the mean value will be suggested
- Now, we see that there is a big likelihood that user will want to spend more time reading the unread blogs.

In [71]:
# set the initial mean time reading as a threshold
threshold = mean[current_user_logined_id - 1]
threshold

504.22222222222223

In [74]:
result = [i for i, j in dictionary if j >= threshold]
result = result[:3] # We just suggest thres blogs with highest prediction scores
result

[21, 9, 25]

In [77]:
# function in flask backend
def recsys(current_user_logined_id):
  utility_matrix = pd.read_csv("/content/utility_matrix.csv")
  utility_matrix.replace(0, np.nan, inplace=True)
  mean = utility_matrix.mean(skipna=True)
  utility_matrix = utility_matrix.sub(mean, axis=1)
  utility_matrix = utility_matrix.fillna(0)
  utility_matrix = utility_matrix.values

  num_user = utility_matrix.shape[1]
  user_to_user_similarity_matrix = np.zeros((num_user, num_user))

  for i in range(num_user):
    for j in range(num_user):
      user_i = utility_matrix[:,i]
      user_j = utility_matrix[:,j]
      index_not_zero = (user_i > 0) & (user_j > 0)
      user_to_user_similarity_matrix[i,j] = cosine(user_i[index_not_zero], user_j[index_not_zero])

  zero_rating_indices = np.where(utility_matrix == 0)
  for blog, user in zip(zero_rating_indices[0], zero_rating_indices[1]):
    similar_users = user_to_user_similarity_matrix[user]
    blog_time_spent = utility_matrix[blog]
    index = blog_time_spent > 0
    blog_time_spent = blog_time_spent[index]
    similar_users = similar_users[index]
    utility_matrix[blog, user] = np.sum(blog_time_spent * similar_users) / (np.sum(similar_users) + np.finfo(np.float64).eps)

  mean = mean.values
  utility_matrix = utility_matrix + mean
  utility_matrix = pd.DataFrame(utility_matrix)
  utility_matrix.to_csv("filled_utility_matrix.csv", index=False)

  utility_matrix = pd.read_csv("/content/utility_matrix.csv")
  utility_matrix_filled = pd.read_csv("/content/filled_utility_matrix.csv")

  zero_rating_indices = np.where(utility_matrix == 0)
  dictionary = {}
  for blog, user in zip(zero_rating_indices[0], zero_rating_indices[1]):
      if user == current_user_logined_id - 1:
        dictionary[blog + 1] = utility_matrix_filled.iloc[blog, user]

  dictionary = sorted(dictionary.items(), key=lambda item: item[1], reverse=True)
  threshold = mean[current_user_logined_id - 1]
  result = [i for i, j in dictionary if j >= threshold]
  return result[:3]

res = recsys(4)
res

[21, 9, 25]